<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <form method="POST" action="/new">
        <label for="author">Author's name</label><br>
        <input type="text" id="author" name="messageUser" required><br><br>
        <label for="messages">Message</label><br>
        <textarea name="messageText" id="messages" required></textarea><br><br>
        <button>Submit</button>        
    </form>
    <p><a href="/">Back Home</a></p>
</body>
</html>